*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --input-radius: 4px;
    --input-left-padding: 10px;
    --icon-width: 20px;
    --input-right-padding: 40px;
    --font-color: rgb(51, 50, 50);
    --light-gray: rgb(207, 207, 207);
    --green: rgb(22, 182, 22);
    --red-wrong: rgb(235, 65, 65);
    --gray: #6c757d;
    --cell-width: 50px;
    --cell-small-width: 30px;
}

.in-group {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
}

.input--icon {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    /* height: 40px; */
    padding: 5px 0px;
    /* padding-left: 10px; */
    /* padding-right: var(--input-right-padding); */
}

form > .feedback-text,
form > input:first-of-type,
form > input:nth-of-type(2) {
    margin-bottom: 20px;
}

.input--icon input {
    width: 100%;
    height: 40px;
    padding: 5px 2px;
    padding-left: var(--input-left-padding);
    padding-right: var(--input-right-padding);
}

.input--icon svg {
    width: var(--icon-width);
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;

    fill: rgb(148, 147, 147);
}
.input--icon .input-wrapper {
    position: relative;
}

.feedback-text {
    color: var(--red-wrong);
    visibility: hidden;
}

/* invalid inputs */

.input--icon .invalid-input + .feedback-text {
    visibility: visible;
}

.invalid-input {
    border: solid 2px var(--red-wrong) !important;
}

.invalid-input + svg {
    fill: var(--red-wrong);
}

.invalid-input + div {
    visibility: visible;
}

.invalid-input:focus {
    box-shadow: var(--red-wrong) 0px 0px 0px 3px;
    outline: none;
}

form {
    padding: 0;
}

form input:not(input[type="checkbox"], input[type="submit"]) {
    border-radius: var(--input-radius);
    padding-left: var(--input-left-padding);
    /* this deal with bootstrap hiearchy */
    border: solid 1px var(--light-gray);
    height: 40px;
    color: var(--font-color);
}

form input:focus {
    box-shadow: rgba(71, 136, 233, 0.973) 0px 0px 0px 3px;
    outline: none;
}

form input::placeholder {
    font-size: 15 px;
    color: rgb(158, 158, 158);
}

#optionalSection {
    display: flex;
    visibility: hidden;
}

#optionalSection.active {
    visibility: visible;
}

#illness {
    visibility: hidden;
}

#illness.active {
    visibility: visible;
}

#datepicker {
    width: 150px;
}
