*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --jose-pink: hsl(6, 32%, 46%);
    --jose-pink__hover: hsl(6, 32%, 30%);
    --jose-dark: hsl(340, 16%, 18%);
    --jose-dark__hover: hsl(340, 16%, 10%);
    --jose-light: hsl(43, 23%, 64%);
    --jose-light__dark: hsl(43, 23%, 50%);
    --jose-light__hover: hsl(43, 23%, 40%);
    --jose-brown: hsl(30, 14%, 34%);
    --font: "Josefin Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--jose-dark);
    color: var(--jose-light);
    font-family: var(--font);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

form input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 25px;

    outline: none;
    border: none;

    color: white;
    background-color: var(--jose-pink);
    border-radius: 5px;
    font-family: var(--font);
}

form input[type="submit"]:hover {
    background-color: var(--jose-pink__hover);
    cursor: pointer;
}

form input:not(input[type="submit"]) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
    color: #fafffd;
    padding: 10px 10px 5px 5px;
}

select {
    font-family: var(--font);
    font-weight: bold;
    border-width: none;
    padding: 1px 6px;
}

fieldset {
    margin-top: 15;
    margin-bottom: 15;
    align-items: center;
}