*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --jose-pink: hsl(6, 32%, 46%);
    --jose-pink__hover: hsl(6, 32%, 30%);
    --jose-dark: hsl(340, 16%, 18%);
    --jose-dark__hover: hsl(340, 16%, 10%);
    --jose-light: hsl(43, 23%, 64%);
    --jose-light__dark: hsl(43, 23%, 50%);
    --jose-light__hover: hsl(43, 23%, 40%);
    --jose-brown: hsl(30, 14%, 34%);
    --cursive-font: "Lobster Two", cursive;
    --normal-font: "Josefin Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--jose-dark);
    color: var(--jose-light);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: var(--cursive-font);
}

p,
a,
option,
select,
textarea {
    font-family: var(--normal-font);
}

form {
    min-width: 300px;
    width: 90%;
    max-width: 500px;
}

form label[for="nombre-usuario"],
label[for="email"] {
    width: 20%;
}

input,
input:hover,
input:focus,
textarea,
select,
select:focus,
option {
    outline: none;
    border: none;
}

form input {
    width: 100%;
}

form fieldset {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form input:not(input[type="submit"]) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
    color: #fafffd;
    padding: 10px 10px 5px 5px;
}

form label,
form input:not(input[type="submit"]) {
    font-family: var(--cursive-font);
}

form textarea {
    border-radius: 5px;
    background-color: var(--jose-dark__hover);
    resize: none;
    color: white;
}

form select {
    background-color: transparent;
    color: white;
}

form option {
    color: #111;
}

form input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--jose-pink);
    height: 25px;
    color: white;
}

form input[type="submit"]:hover {
    background-color: var(--jose-pink__hover);
    cursor: pointer;
}
