*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --jose-pink: hsl(6, 32%, 46%);
    --jose-pink__hover: hsl(6, 32%, 30%);
    --jose-dark: hsl(340, 16%, 18%);
    --jose-light: hsl(43, 23%, 64%);
    --jose-light__dark: hsl(43, 23%, 50%);
    --jose-light__hover: hsl(43, 23%, 40%);
    --jose-brown: hsl(30, 14%, 34%);
    --cursive-font: "Lobster Two", cursive;
    --normal-font: "Josefin Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--jose-dark);
    color: var(--jose-light);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

h1 {
    font-family: var(--cursive-font);
}

p,
a {
    font-family: var(--normal-font);
}

a {
    text-decoration: none;
    color: var(--jose-pink);
}

a:hover {
    text-decoration: underline;
}

.c-logos {
    display: flex;

    justify-content: space-evenly;
}

.c-logos img {
    height: 100px;
}

form {
    margin-top: 20px;
    height: 500px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

form label {
    width: 20%;
    align-self: flex-start;
}

form input:focus {
    outline: none;
}

form input {
    width: 100%;
}

form input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 120px;
    height: 25px;

    outline: none;
    border: none;

    color: white;
    background-color: var(--jose-pink);
    border-radius: 5px;
    font-family: var(--normal-font);
}

form input[type="submit"]:hover {
    background-color: var(--jose-pink__hover);
    cursor: pointer;
}

form input:not(input[type="submit"]) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
    color: #fafffd;
    padding: 10px 10px 5px 5px;
}

form label,
form input:not(input[type="submit"]) {
    font-family: var(--cursive-font);
}
